/* ------------ Variables ------------ */

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-blue-navy: hsl(220, 63%, 20%);
$color-red-light: hsl(12, 100%, 62%);
$color-grey-light: hsl(200, 2%, 65%);
$color-grey-light-secondary: hsl(160, 2%, 72%);

$color-bg-light-grey: hsl(195, 11%, 93%);

$border-radius: 1rem;

$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.5rem;

$padding-large: 1.5rem;
$padding-medium: 1rem;
$padding-small: 0.5rem;

$transition: 300ms ease;

/* ------------ Reset ------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ------------ Layout ------------ */

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    display: flex;

    min-height: 100vh;

    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    color: hsl(0, 0%, 0%);
}
